@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

.item-img {
    width: 100%;
}

/* 「.」はクラス */
.item-img.-hide {
    display: none;
}

nav {

}

#navigation {

}

nav li {
}

/*
 * PCの時はハンバーガーボタンを非表示にする
 */
#navigation-button {
    /* display: none; */

    /* opacity: 0; */
    visibility: hidden;
}

/**
 * 768pxより小さいデバイスで有効にするスタイル
 */
@media screen and (max-width: 768px) {
    nav {

    }

    /**
     * ナビゲーション自体はデフォルトで非表示にする
     */
    #navigation {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
        transition: visibility 0.3s, opacity 0.3s, transform 0.3s ease;
    }

    /**
     * -showクラスが付いている時だけ、ナビゲーションを表示する
     * -showクラスのつけ外しはJSで行う
     */
    #navigation.-show {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    nav li {

    }

    /*
    * スマホ時はハンバーガーボタンを表示する
    */
    #navigation-button {
        visibility: visible;
    }
}